:root {
  --white: white;
  --second-white: #dfe1e6;
  --primary-gray: #7a869a;
  --second-dark-color: #344563;
  --dark-blue: #4053fc;
}

.container-projects {
  display: grid;
}

.projects {
  margin: 114px 0;
  padding: 0 24px;
}

.card {
  background-color: var(--white);
  border-radius: 16px;
  padding: 16px;
  border: 1px solid var(--second-white);
  margin: 44px 0;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  border: var(--third-blue) 2px solid;
  filter: drop-shadow(0 48px 48px rgba(37, 47, 137, 0.08));
  transform: translateY(-5px);
}

.card-image {
  width: 100%;
  height: 220px;
  border-radius: 8px;
  object-fit: cover;
}

.card-title {
  color: var(--primary-dark-color);
  font-size: 32px;
  margin: 8px 0;
}

.card-features {
  display: flex;
  gap: 15px;
  align-items: center;
}

.card-client {
  font-weight: 600;
  font-size: 16px;
}

.card-info {
  font-size: 13px;
  color: var(--primary-gray);
  font-weight: 600;
  list-style: inside;
}

.card-description {
  color: var(--second-dark-color);
  font-size: 15px;
  margin: 12px 0;
}

.card-tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.card-tag {
  padding: 4px 12px;
  background: var(--primary-light);
  color: var(--first-blue);
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

/* li.card-tag:last-child {
  display: none;
} */

.card-tag:hover {
  color: white;
  background-color: var(--dark-blue);
}

.card-actions {
  height: 60px;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .container-projects {
    display: grid;
  }

  .projects {
    width: 90vw;
    margin: 0 auto;
    padding: 0;
  }

  .card-header {
    margin-right: 22px;
  }

  .card:nth-child(even) .card-header {
    order: 1;
  }

  .card {
    display: flex;
    padding: 24px;
  }

  .card-image {
    height: 448px;
  }

  .card-content {
    padding-inline: 10px;
  }

  .card-title {
    font-size: 40px;
    margin: 8px 0;
  }

  .card-client {
    font-size: 18px;
    font-weight: 500;
  }

  .card-info {
    font-size: 18px;
    font-weight: 400;
  }

  .card-description {
    font-size: 16px;
  }

  /*   li.card-tag:last-child {
    display: block;
  } */
}
